<nav class="navbar">

    <div class="nav-logo">
        <a href="/">
            <img src="/images/Baked-Canvas-Logo.svg" alt="The Baked Canvas Logo">
        </a>
    </div>

    <div class="nav-center">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/customorders">Custom Orders</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="nav-button">
        <a href="/contact" class="quote-button">
            Request a Quote
        </a>
    </div>

</nav>